/* /// Вход /// */

.login_background{
    width: 100%;
    height: 100%;
    background-image: url("/public/images/background.jpg");
    position: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login_white_frame{
    position: fixed;
    width: 35%;
    top: 6vh; /*40.5 px*/
    bottom: 6vh; /*40.5 px*/
    background: #FFFFFF;
    padding: 6vh 9vh; /*40.5 px 60.75 px*/
}

/* /// Промежутки /// */

.space20{
    height: 2.9vh; /*20 px*/
}

.space40{
    height: 5.9vh; /*40 px*/
}

.space60{
    height: 8.8vh; /*60 px*/
}
