{% extends 'general.html' %}

{% load static %}

{% block title %} Редактирование класса {% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/input.css' %}">

    <form style="margin-left: 7vh" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <label class="form-label">Наименование класса</label>
        <div style="margin-bottom: 2.9vh /*20 px*/; width: 45vh">{{ form.title }}</div>
        <button class="blueBtn" style="width: 20vh; /*115 px*/ height: 6.5vh; /*44 px*/ font-size: 2.6vh; /*18 px*/ font-weight: 400; margin-right: 5vh; margin-top: 2vh" type="submit">Изменить</button>
        <button class="blueBtn" style="width: 20vh; /*115 px*/ height: 6.5vh; /*44 px*/ font-size: 2.6vh; /*18 px*/ font-weight: 400" type="reset" onclick="location.href='{% url 'entities_classes' %}'">Назад</button>
    </form>


{% endblock %}