{% extends 'general.html' %}

{% load static %}

{% block title %} Файлы {% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <div style="display:flex; margin-left: 7vh; margin-right: 7vh; text-align: center; justify-content: space-around; margin-bottom: 3vh;">
        <button class="blueBtn" style="width: 40vh; height: 7.4vh; /*50 px*/ font-size: 2.6vh; /*18 px*/" onclick="location.href='../classes'">Классы</button>
        <button class="blueBtn" style="width: 40vh; height: 7.4vh; /*50 px*/ font-size: 2.6vh; /*18 px*/" onclick="location.href='../subclasses'">Подклассы</button>
        <button class="blueBtn2" style="width: 40vh; height: 7.4vh; /*50 px*/ font-size: 2.6vh; /*18 px*/" onclick="location.href='../objects'">Объекты</button>
    </div>
    <div style="display: flex; margin-left: 7vh; margin-right: 7vh; margin-bottom: 5vh; justify-content: right">
        <button class="blueBtn" style="margin-right: 4vh; width: 18vh; height: 7.4vh; /*50 px*/ font-size: 2.6vh; /*18 px*/" onclick="location.href='../objects'">Объекты</button>
        <button class="orangeBtn2" style="margin-right: 13vh;width: 18vh; height: 7.4vh; /*50 px*/ font-size: 2.6vh; /*18 px*/" onclick="location.href='../files'">Файлы</button>
    </div>
    <div class="list_position" style="grid-template-columns: repeat(6, auto); column-gap: 15vh;">
        <div class="text_h5" style="font-style: italic; font-weight: 600">Файл</div>
        <div class="text_h5" style="font-style: italic; font-weight: 600">Привязан к объекту</div>
        <div class="text_h5" style="font-style: italic; font-weight: 600">Загружен</div>
        <div class="text_h5" style="font-style: italic; font-weight: 600">Загрузил</div>
        <div class="text_h5" style="font-style: italic; font-weight: 600"></div>
        <div class="text_h5" style="font-style: italic; font-weight: 600"></div>
        {% for obj in objects %}
            <div class="text_h5"> <a href='{{ obj.file.url }}'>{{ obj.file }}</a> </div>
            <div class="text_h5"> {{ obj.name }}</div>
            <div class="text_h5"> {{ obj.time_create }}</div>
            <div class="text_h5"> {{ obj.created_by }} ({{ obj.created_by.last_name }} {{ obj.created_by.first_name }})</div>
            <div class="edit_logo2" onclick="location.href='{% url 'edit_file' pk=obj.id%}'"></div>
            <div class="del_logo" onclick="if (confirm('Вы действительно хотите удалить файл {{ obj.file }} и привязанный к нему объект {{ obj.name }}?')) {location.href='{% url 'delete_file' pk=obj.id %}'} else {return false;}"></div>
        {% endfor %}
        <div class="add_logo" style="background-position: center" onclick="location.href='new'"></div>
    </div>
{% endblock %}