{% extends 'general.html' %}

{% load static %}

{% block title %}Классы{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'css/general.css' %}">

    <div style="display:flex; margin-left: 7vh; margin-right: 7vh; text-align: center; justify-content: space-around; margin-bottom: 5vh;">
        <button class="blueBtn2" style="width: 40vh; height: 7.4vh; /*50 px*/ font-size: 2.6vh; /*18 px*/" onclick="location.href='./classes'">Классы</button>
        <button class="blueBtn" style="width: 40vh; height: 7.4vh; /*50 px*/ font-size: 2.6vh; /*18 px*/" onclick="location.href='./subclasses'">Подклассы</button>
        <button class="blueBtn" style="width: 40vh; height: 7.4vh; /*50 px*/ font-size: 2.6vh; /*18 px*/" onclick="location.href='./objects'">Объекты</button>
    </div>
    <div class="list_position" style="grid-template-columns: repeat(3, auto); column-gap: 30vh;">
        <div class="text_h5" style="font-style: italic; font-weight: 600">Наименование</div>
        <div class="text_h5" style="font-style: italic; font-weight: 600"></div>
        <div class="text_h5" style="font-style: italic; font-weight: 600"></div>
        {% for cl in classes %}
            <div class="text_h5"> {{ cl.title }}</div>
            <div class="edit_logo" onclick="location.href='{% url 'edit_class' pk=cl.id%}'"></div>
            <div class="del_logo" onclick="if (confirm('Вы действительно хотите удалить класс {{ cl.title }}?')) {location.href='{% url 'delete_class' pk=cl.id %}'} else {return false;}"></div>
        {% endfor %}
        <div class="add_logo" style="background-position: center" onclick="location.href='classes/new'"></div>
    </div>
{% endblock %}