.choose_parent{
    font-size: 2.6vh; /*18 px*/
    line-height: 3.1vh; /*21 px*/
    font-family: 'Roboto', serif;
    font-weight: 400;
    color: #9F9F9F;
    resize: both;
    display: flex;
    height: 100%;
}

.choose_child{
    margin: auto;
}

.object_image{
    background-image: url("/public/icons/object_grey.png");
    width: 7.4vh; /*50 px*/
    height: 7.4vh; /*50 px*/
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
}

.header{
    display: flex;
    height: 6.5vh;
    align-items: center;
    margin-left: 2%;
    margin-right: 2%;
}

.name_text{
    font-size: 2.6vh; /*18 px*/
    line-height: 4.4vh; /*21 px*/
    font-family: 'Roboto', serif;
    font-weight: 600;
    color: #000000;
    resize: both;
    height: 4.4vh; /*30 px*/
}

.info{
    background-image: url("/public/icons/info_black.png");
    width: 4.4vh; /*30 px*/
    height: 4.4vh; /*30 px*/
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 2.9vh; /*20 px*/
    background-color: white;
    border: 0.4vh solid #4DBDC2; /*3 px*/
}

.download{
    background-image: url("/public/icons/download_black.png");
    width: 4.4vh; /*30 px*/
    height: 4.4vh; /*30 px*/
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    border: 0.4vh solid #4DBDC2; /*3 px*/
}

.edit{
    background-image: url("/public/icons/edit_black.png");
    width: 4.4vh; /*30 px*/
    height: 4.4vh; /*30 px*/
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 2.9vh; /*20 px*/
    background-color: white;
    border: 0.4vh solid #4DBDC2; /*3 px*/
}

.save{
    background-image: url("/public/icons/ok_white.png");
    width: 4.4vh; /*30 px*/
    height: 4.4vh; /*30 px*/
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 2.9vh; /*20 px*/
    background-color: #159947;
    border: 0.4vh solid #159947; /*3 px*/
}

.save:hover{
    cursor: pointer;
}

.trash{
    background-image: url("/public/icons/trash_black.png");
    width: 4.4vh; /*30 px*/
    height: 4.4vh; /*30 px*/
    background-repeat: no-repeat;
    background-size: contain;
    background-color: white;
    margin-left: 2.9vh; /*20 px*/
    border: 0.4vh solid #4DBDC2; /*3 px*/
}

.info:hover, .download:hover, .edit:hover, .trash:hover{
    background-color: #F1FAFA;
    cursor: pointer;
}

.spaceFont{
    height: 2.6vh;
}

.activeInfo{
    background-image: url("/public/icons/info_white.png");
    width: 4.4vh; /*30 px*/
    height: 4.4vh; /*30 px*/
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 2.9vh; /*20 px*/
    background-color: #4DBDC2;
    border: 0.4vh solid #4DBDC2; /*3 px*/
}

.activeInfo:hover{
    cursor: pointer;
    background-color: #4DBDC2;
}

.delete{
    background-image: url("/public/icons/cancel_white.png");
    width: 4.4vh; /*30 px*/
    height: 4.4vh; /*30 px*/
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 2.9vh; /*20 px*/
    background-color: #EC6442;
    border: 0.4vh solid #EC6442; /*3 px*/
}

.delete:hover{
    cursor: pointer;
}

.infoForm{
    background-color: white;
    border: 0.4vh solid #4DBDC2; /*3 px*/
    margin: 2%;
    padding: 3%;
    overflow-y: auto;
    height: 67.4vh;
}

.infoGroup {
    display: flex;
    height: 5vh;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

}

.infoGroup > input {
    box-sizing: border-box;
    width: calc(70% - (1 - 1/2)*1%);
}

.infoGroup > select {
    box-sizing: border-box;
    width: calc(70% - (1 - 1/2)*1%);
}

.infoInput{
    border: 0.2vh solid #C4C4C4; /*2 px*/;
    padding-left: 1%;
    font-size: 2.6vh; /*18 px*/
    line-height: 3.1vh; /*21 px*/
    font-family: 'Roboto', serif;
    font-weight: 400;
    resize: both;
    height: 5vh;
}

.noviewimage{
    background-image: url("/public/icons/noview.png");
    width: 7.4vh; /*50 px*/
    height: 7.4vh; /*50 px*/
    background-repeat: no-repeat;
    background-size: contain;
    margin: auto;
}