.blueBtn{
    background: #FFFFFF;
    font-family: 'Roboto', serif;
    font-style: normal;
    border: 0.3vh solid #4DBDC2; /*2 px*/
    cursor: pointer;
    height: 7.4vh; /*50 px*/
    font-size: 2.6vh; /*18 px*/
}

.blueBtn:hover{
    background: rgba(77, 189, 194, 0.08);
}

.blueBtn:disabled{
    background: #FFFFFF;
    font-family: 'Roboto', serif;
    font-style: normal;
    border: 0.3vh solid #C4C4C4; /*2 px*/
    height: 7.4vh; /*50 px*/
    font-size: 2.6vh; /*18 px*/
    color: #929292;
    cursor: default;
}