.orangeBtn{
    background: #FFFFFF;
    font-family: 'Roboto', serif;
    font-style: normal;
    border: 0.3vh solid #FF8A35; /*2 px*/
    cursor: pointer;

    height: 7.4vh; /*50 px*/
    font-size: 2.6vh; /*18 px*/
}

.orangeBtn:hover{
    background: rgba(255, 138, 53, 0.08);
}